<textarea class="js-copyarea" hidden></textarea>
<strong class="js-output" style="display: block; width: 100%; text-align: center; margin-botton: 20px;">&nbsp;</strong>
<div class="svg-list" data-sprite-url="/resources/imgs/svgsprite.svg">
	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#menu-alt" /></svg>
		<div class="svg-name js-svg-name">#menu-alt</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#folder" /></svg>
		<div class="svg-name js-svg-name">#folder</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#filter" /></svg>
		<div class="svg-name js-svg-name">#filter</div>
	</div>

	<div class="svg-item">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#select" /></svg>
		<div class="svg-name js-svg-name">#select</div>
	</div>

	<div class="svg-item">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#checkbox" /></svg>
		<div class="svg-name js-svg-name">#checkbox</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#breadcrumb-spacer" /></svg>
		<div class="svg-name js-svg-name">#breadcrumb-spacer</div>
	</div>

	<div class="svg-item">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#menu-dots" /></svg>
		<div class="svg-name js-svg-name">#menu-dots</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#menu-back" /></svg>
		<div class="svg-name js-svg-name">#menu-back</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="/resources/imgs/svgsprite.svg#close" /></svg>
		<div class="svg-name js-svg-name">#close</div>
	</div>
</div>



