<div class="l-grid--md-quarters">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
	<div class="pf-column">3</div>
	<div class="pf-column">4</div>
	<div class="pf-column">5</div>
	<div class="pf-column">6</div>
	<div class="pf-column">7</div>
	<div class="pf-column">8</div>
</div>

<div class="l-grid--md-thirds__to__sm-halves">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
	<div class="pf-column">3</div>
	<div class="pf-column">4</div>
	<div class="pf-column">5</div>
	<div class="pf-column">6</div>
</div>

<div class="l-grid--md-thirds__to__base-halves">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
	<div class="pf-column">3</div>
	<div class="pf-column">4</div>
	<div class="pf-column">5</div>
	<div class="pf-column">6</div>
</div>


<div class="l-row--third__two-thirds">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
</div>

<div class="l-row--two-thirds__third">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
</div>

<div class="l-row--quarter__three-quarters">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
</div>

<div class="l-row--three-quarters__quarter">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
</div>

<div class="l-row--halves">
	<div class="pf-column">1</div>
	<div class="pf-column">2</div>
</div>

<div class="l-row--full">
	<div class="pf-column">1</div>
</div>
