<button data-modal-id="modal1">modal button1</button>
<a class="js-modal-link" href="#modal2">modal link2</a>
<a class="js-modal-link" href="#modal3">modal link3</a>

<div class="modal modal--large js-modal" data-id="modal1">
	<button class="modal__close-btn"><svg><use xlink:href="/resources/imgs/svgsprite.svg#close" /></svg></button>
	<div class="modal__container modal__container--panel">
		<h1>test</h1>
	</div>
</div>

<div class="modal modal--small js-modal" id="modal2">
	<button class="modal__close-btn"><svg><use xlink:href="/resources/imgs/svgsprite.svg#close" /></svg></button>
	<div class="modal__container modal__container--panel">
		<h1>test</h1>
	</div>
</div>

<div class="modal modal--large js-modal" id="modal3">
	<button class="modal__close-btn"><svg><use xlink:href="/resources/imgs/svgsprite.svg#close" /></svg></button>
	<div class="modal__container">
		<div class="ratio--3-2">
			<img src="/resources/imgs/tmp-image.jpg">
		</div>
	</div>
</div>
