<button class="js-menu-show" style="position: absolute; top: 0; left: 50%; z-index: 200;">toggle</button>

<nav class="someNavClass js-menu-test">
	<ul>
		<li>
			<a href="#">Item 1 Some really long title as a test to see how it copes</a>
			<ul>
				<li>
					<a href="#">Sub 1 Item 1 Some really long title as a test to see how it copes</a>
					<ul>
						<li><a href="#">Sub 1 Sub 1 Item 1</a></li>
						<li><a href="#">Sub 1 Sub 1 Item 2</a></li>
						<li><a href="#">Sub 1 Sub 1 Item 3</a></li>
						<li><a href="#">Sub 1 Sub 1 Item 4</a></li>
						<li><a href="#">Sub 1 Sub 1 Item 5</a></li>
					</ul>
				</li>
				<li><a href="#">Sub 1 Item 2</a></li>
				<li><a href="#">Sub 1 Item 3</a></li>
				<li>
					<a href="#">Sub 1 Item 4</a>
					<ul>
						<li><a href="#">Sub 1 Sub 3 Item 1</a></li>
						<li><a href="#">Sub 1 Sub 3 Item 2</a></li>
						<li><a href="#">Sub 1 Sub 3 Item 3</a></li>
						<li><a href="#">Sub 1 Sub 3 Item 4</a></li>
						<li><a href="#">Sub 1 Sub 3 Item 5</a></li>
					</ul>
				</li>
				<li><a href="#">Sub 1 Item 5</a></li>
			</ul>
		</li>
		<li><a href="#">Item 2</a></li>
		<li>
			<a href="#">Item 3</a>
			<ul>
				<li><a href="#">Sub 3 Item 1</a></li>
				<li><a href="#">Sub 3 Item 2</a></li>
				<li><a href="#">Sub 3 Item 3</a></li>
				<li><a href="#">Sub 3 Item 4</a></li>
				<li><a href="#">Sub 3 Item 5</a></li>
			</ul>
		</li>
		<li><a href="#">Item 4</a></li>
		<li><a href="#">Item 5</a></li>
	</ul>
</nav>

<footer style="height: 100px; width: 100%; position: absolute; bottom:0; left: 0; background-color: rgba(150, 150 ,150 ,0.5); z-index: 10;"></footer>
