<div class="sidebar sidebar__bands">
	<header class="sidebar__header">
		<div class="sidebar__icon">
			<svg><use xlink:href="#folder" /></svg>
		</div>
		<span class="sidebar__header-title">Archives</span>
	</header>
	<button class="sidebar__item-btn">
		<div class="sidebar__item__icon"></div>
		<div class="sidebar__item-title">January - February</div>
		<div class="sidebar__item-count">21</div>
	</button>
	<button class="sidebar__item-btn">
		<div class="sidebar__item__icon"></div>
		<div class="sidebar__item-title">March - April</div>
		<div class="sidebar__item-count">8</div>
	</button>
</div>