{{> util/svgsprite}}

<form action="#" class="ns-form" method="post">
    <div class="ns-form__group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="choice" value="first"><label><svg><use xlink:href="#checkbox" /></svg></label> 1st choice 
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="choice" value="second"><label><svg><use xlink:href="#checkbox" /></svg></label> 2nd choice 
            </label>
        </div>
    </div>

    <div class="ns-form__group">
        <div class="checkbox checkbox--disabled">
            <label>
                <input type="checkbox" name="choice" value="first" disabled><label><svg><use xlink:href="#checkbox" /></svg></label> 1st choice 
            </label>
        </div>
        <div class="checkbox checkbox--disabled">
            <label>
                <input type="checkbox" name="choice" value="second" disabled checked><label><svg><use xlink:href="#checkbox" /></svg></label> 2nd choice 
            </label>
        </div>
    </div>
</form>


<form action="#" class="ns-form ns-form--inline" method="post">
    <div class="ns-form__group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="choice" value="first"><label><svg><use xlink:href="#checkbox" /></svg></label> 1st choice 
            </label>
        </div>
    </div>

    <div class="ns-form__group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="choice" value="second"><label><svg><use xlink:href="#checkbox" /></svg></label> 2nd choice 
            </label>
        </div>
    </div>

    <div class="ns-form__group">
        <div class="checkbox checkbox--disabled">
            <label>
                <input type="checkbox" name="choice" value="first" disabled><label><svg><use xlink:href="#checkbox" /></svg></label> 1st choice 
            </label>
        </div>
    </div>
    
    <div class="ns-form__group">
        <div class="checkbox checkbox--disabled">
            <label>
                <input type="checkbox" name="choice" value="second" disabled checked><label><svg><use xlink:href="#checkbox" /></svg></label> 2nd choice 
            </label>
        </div>
    </div>
</use>