<form action="#" class="ns-form" method="post">
	<div class="ns-form__group">
        <div class="ns-form__select">
            <select name="sale" id="sale">
                <option value="1">item 1</option>
                <option value="2">item 2</option>
                <option value="3">item 3</option>
                <option value="4">item 4</option>
                <option value="5">item 5</option>
            </select>
            <div class="ns-form__select-icon">
                <svg><use xlink:href="/resources/imgs/svgsprite.svg#select" /></svg>
            </div>
        </div>
    </div>

    <div class="ns-form__group">
        <div class="ns-form__select ns-form__select--disabled">
            <select disabled name="sale" id="sale">
                <option value="1">item 1</option>
                <option value="2">item 2</option>
                <option value="3">item 3</option>
                <option value="4">item 4</option>
                <option value="5">item 5</option>
            </select>
            <div class="ns-form__select-icon">
                <svg><use xlink:href="/resources/imgs/svgsprite.svg#select" /></svg>
            </div>
        </div>
    </div>
</form>

<form action="#" class="ns-form ns-form--inline" method="post">
	<div class="ns-form__group">
        <div class="ns-form__select">
            <select name="sale" id="sale">
                <option value="1">item 1</option>
                <option value="2">item 2</option>
                <option value="3">item 3</option>
                <option value="4">item 4</option>
                <option value="5">item 5</option>
            </select>
            <div class="ns-form__select-icon">
                <svg><use xlink:href="/resources/imgs/svgsprite.svg#select" /></svg>
            </div>
        </div>
    </div>

    <div class="ns-form__group">
        <div class="ns-form__select ns-form__select--disabled">
            <select disabled name="sale" id="sale">
                <option value="1">item 1</option>
                <option value="2">item 2</option>
                <option value="3">item 3</option>
                <option value="4">item 4</option>
                <option value="5">item 5</option>
            </select>
            <div class="ns-form__select-icon">
                <svg><use xlink:href="/resources/imgs/svgsprite.svg#select" /></svg>
            </div>
        </div>
    </div>
</form>
