<form action="#" class="ns-form" method="post">
	<div class="ns-form__group">
		<div class="switch">
			<label>
				<input type="checkbox" name="choice" value="first"><label></label> 1st choice
			</label>
		</div>
		<div class="switch">
			<label>
				<input type="checkbox" name="choice" value="second"><label></label> 2nd choice
			</label>
		</div>
	</div>

	<div class="ns-form__group">
        <div class="switch switch--disabled">
            <label>
                <input type="checkbox" name="choice" value="first" disabled><label></label> 1st choice
            </label>
        </div>
        <div class="switch switch--disabled">
            <label>
                <input type="checkbox" name="choice" value="second" disabled checked><label></label> 2nd choice
            </label>
        </div>
    </div>
</form>
