<form action="#" class="ns-form" method="post">
	<div class="ns-form__group">
	    <input type="text" placeholder="test">
	</div>

	<div class="ns-form__group">
	    <input type="text" disabled placeholder="test">
	</div>

	<div class="ns-form__group">
		<textarea name="textarea" placeholder="testarea"></textarea>
	</div>

	<div class="ns-form__group">
		<textarea name="textarea" disabled placeholder="testarea"></textarea>
	</div>
</form>

<form action="#" class="ns-form ns-form--inline" method="post">
	<div class="ns-form__group">
	    <input type="text" placeholder="test">
	</div>

	<div class="ns-form__group">
	    <input type="text" disabled placeholder="test">
	</div>

	<div class="ns-form__group">
		<textarea name="textarea" placeholder="testarea"></textarea>
	</div>

	<div class="ns-form__group">
		<textarea name="textarea" disabled placeholder="testarea"></textarea>
	</div>
</form>
