<form action="#" class="ns-form js-form-validation" method="post">
	<div class="ns-form__group">
		<label for="name">name</label>
		<input type="text" id="name" required placeholder="John Doe...">
	</div>

	<div class="ns-form__group">
		<label for="email">email</label>
		<input type="email" id="email" required placeholder="john-doe@gmail.co.uk">
	</div>

	<div class="ns-form__group">
		<label for="confEmail">confirm email</label>
		<input type="email" id="confEmail" data-confirm-for="email" required placeholder="john-doe@gmail.co.uk">
	</div>

	<div class="ns-form__group">
		<label for="message">message</label>
		<textarea name="message" id="message" required></textarea>
	</div>

	<div class="ns-form__group">
		<label for="password">password</label>
		<input type="password" id="password" required>
	</div>
</form>
